@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

:root {
    --color-red-50: #fef2f2;
    --color-red-100: #ffe2e2;
    --color-red-400: #ff6568;
    --color-red-500: #fb2c36;
    --color-red-600: #e40014;
    --color-orange-50: #fff7ed;
    --color-orange-100: #ffedd5;
    --color-orange-200: #ffd7a8;
    --color-orange-500: #fe6e00;
    --color-orange-600: #f05100;
    --color-orange-700: #c53c00;
    --color-amber-50: #fffbeb;
    --color-amber-300: #ffd236;
    --color-amber-400: #fcbb00;
    --color-amber-500: #f99c00;
    --color-amber-600: #dd7400;
    --color-amber-700: #b75000;
    --color-amber-900: #7b3306;
    --color-yellow-50: #fefce8;
    --color-yellow-100: #fef9c2;
    --color-yellow-200: #fff085;
    --color-yellow-300: #ffe02a;
    --color-yellow-400: #fac800;
    --color-yellow-500: #edb200;
    --color-yellow-600: #cd8900;
    --color-yellow-800: #874b00;
    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-200: #b9f8cf;
    --color-green-300: #7bf1a8;
    --color-green-400: #05df72;
    --color-green-500: #00c758;
    --color-green-600: #00a544;
    --color-green-700: #008138;
    --color-green-800: #016630;
    --color-green-900: #0d542b;
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d0fae5;
    --color-emerald-300: #5ee9b5;
    --color-emerald-400: #00d294;
    --color-emerald-500: #00bb7f;
    --color-emerald-600: #009767;
    --color-emerald-700: #007956;
    --color-emerald-800: #005f46;
    --color-emerald-900: #004e3b;
    --color-teal-500: #00baa7;
    --color-cyan-50: #ecfeff;
    --color-cyan-300: #53eafd;
    --color-cyan-500: #00b7d7;
    --color-cyan-600: #0092b5;
    --color-sky-500: #00a5ef;
    --color-sky-600: #0084cc;
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bedbff;
    --color-blue-400: #54a2ff;
    --color-blue-500: #3080ff;
    --color-blue-600: #155dfc;
    --color-blue-700: #1447e6;
    --color-blue-800: #193cb8;
    --color-indigo-50: #eef2ff;
    --color-indigo-500: #625fff;
    --color-purple-50: #faf5ff;
    --color-purple-100: #f3e8ff;
    --color-purple-200: #e9d5ff;
    --color-purple-500: #ac4bff;
    --color-purple-600: #9810fa;
    --color-purple-700: #8200da;
    --color-purple-800: #6e11b0;
    --color-pink-50: #fdf2f8;
    --color-pink-500: #f6339a;
    --color-pink-600: #e30076;
    --color-rose-500: #ff2357;
    --color-slate-50: #f8fafc;
    --color-slate-300: #cad5e2;
    --color-slate-700: #314158;
    --color-slate-800: #1d293d;
    --color-slate-900: #0f172b;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5dc;
    --color-gray-400: #99a1af;
    --color-gray-500: #6a7282;
    --color-gray-600: #4a5565;
    --color-gray-700: #364153;
    --color-gray-800: #1e2939;
    --color-gray-900: #101828;
    --color-black: #000;
    --color-white: #fff;

    --spacing: .25rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --tracking-tight: -.025em;
    --tracking-wide: .025em;
    --tracking-wider: .05em;
    --tracking-widest: .1em;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-relaxed: 1.625;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --ease-out: cubic-bezier(0, 0, .2, 1);
    --animate-spin: spin 1s linear infinite;
    --animate-ping: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
    --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    --blur-sm: 8px;
    --blur-md: 12px;
    --blur-xl: 24px;
    --blur-3xl: 64px;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --radius-panel: 10px;
    --radius-input: 6px;
    --radius-button: 30px;
    --transition-slow: all 0.8s ease-in-out;
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

nav {
    width: 100vw;
    height: 2vh;
}

.header {
    background: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header nav {
    max-width: 1300px;
    margin: auto;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name a {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.main-name {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
}

.sub-name {
    font-size: 12px;
    font-weight: 600;
    color: #6B7280;
}

.auth-links .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
    box-shadow: 0 6px 14px rgba(22, 163, 74, 0.25);
}

.auth-links .btn:hover {
    transform: translateY(-1px);
}

.auth-links .login {
    background: var(--color-green-600);
}

.auth-links .login:hover {
    background: var(--color-green-700);
}

.auth-links .logout {
    background: var(--color-red-500);
}

.auth-links .logout:hover {
    background: var(--color-red-600);
}

.card {
    background: #FFFFFF;
    width: 100%;
    max-width: 420px;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

label {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-gray-700);
    margin-bottom: -10px;
}

select {
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    background: var(--color-white);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input,
textarea {
    width: 100%;
    padding: 14px 44px;
    border-radius: 12px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    transition: 0.2s ease;
}

.input-group input:focus,
textarea:focus {
    border-color: var(--color-green-700);
    ;
    box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.18);
    outline: none;
}

.input-icon {
    position: absolute;
    left: 14px;
    width: 20px;
    height: 20px;
}

.eye-icon {
    position: absolute;
    top: 55%;
    right: 14px;
    cursor: pointer;
    transition: 0.2s ease;
    transform: translateY(-50%);
    color: var(--color-black);
}

.eye-icon::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    width: 2px;
    height: 26px;
    background: var(--color-black);
    transform: rotate(45deg);
    display: none;
}

.eye-icon.hide::after {
    display: block;
}

.eye-icon:hover {
    color: var(--color-green-700);
}

.btn {
    margin-top: 10px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: var(--color-green-600);
    color: var(--color-white);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn:hover {
    background: var(--color-green-700);
}

.update {
    margin-top: 0px;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    background: var(--color-yellow-500);
}

.popup-message {
    position: fixed;
    top: 70px;
    right: -300px;
    padding: 12px 18px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    z-index: 9999;
    transition: right 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.popup-success {
    background: var(--color-green-600);
}

.popup-error {
    background: var(--color-red-600);
}

.popup-message.show {
    right: 20px;
}

/* --------------------LOGIN PAGE-------------------  */

.auth-page {
    max-height: 87vh;
    display: flex;
}

.auth-left {
    flex: 1;
    background: linear-gradient(135deg, #16A34A, #22C55E);
    background: linear-gradient(135deg, var(--color-green-50), var(--color-blue-50));
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.auth-left-content {
    max-width: 420px;
}

.brand-logo {
    width: 130px;
    margin-bottom: 20px;
    justify-content: center;
    margin: 20px auto;
    display: block;
    border-radius: var(--radius-xl);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.auth-left h1 {
    font-size: 36px;
    margin-bottom: 14px;
}

.auth-left p {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
}

.auth-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-card .title {
    font-size: 26px;
    margin-bottom: 8px;
    color: #111827;
}

.login-card .subtitle {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 24px;
}


@media (max-width: 900px) {
    .auth-page {
        flex-direction: column;
    }

    .auth-left {
        display: none;
    }
}

/* --------------------PARTNER DASHBOARD--------------------  */

.dashboard {
    display: flex;
    min-height: 87vh;
}

.sidebar {
    width: 260px;
    background: var(--color-green-600);
    color: var(--color-white);
    padding: 24px 18px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    max-height: 88vh;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.sidebar .user-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
}

.sidebar .user-box .name {
    font-weight: 600;
    font-size: var(--text-2xl);
}

.sidebar .user-box span {
    font-size: var(--text-lg);
    color: var(--color-white);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.25s ease;
}

.sidebar a svg {
    width: 18px;
    height: 18px;
}

.sidebar a:hover,
.sidebar a.active {
    background: #fff;
    color: var(--color-green-600);
}

.main {
    flex: 1;
    padding: 28px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.dashboard-header h2 {
    margin: 0;
    font-size: 22px;
}

.dashboard-header .stats {
    display: flex;
    gap: 16px;
}

.stat-card {
    background: var(--bg-white);
    border-radius: 14px;
    padding: 18px 24px;
    min-width: 180px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    font-weight: 600;
}

.stat-card span {
    display: block;
    font-size: 13px;
    color: var(--text-muted);
    margin-bottom: 6px;
}

.table {
    background: var(--bg-white);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    overflow-x: auto;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    font-size: 13px;
    padding-bottom: 12px;
}

.table td {
    padding: 14px 0;
    border-top: 1px solid var(--color-green-500);
    font-size: 14px;
}

.status {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.status.converted {
    background: var(--color-green-300);
}

.status.pending {
    background: var(--color-yellow-300);
}

.status.in-process {
    background: var(--color-blue-400);
}

.status.not {
    background: var(--color-red-400);
}


/* Modal Background */
.modal {
    display: none;
    /* ✅ default hidden */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    align-items: center;
    justify-content: center;
}

/* Modal Box */
.modal-content {
    background: #fff;
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

/* Heading */
.modal-content h3 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

/* Textarea */
.modal-content textarea {
    width: 100%;
    height: 110px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
}

/* Buttons */
.modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-actions .save {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.modal-actions .cancel {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.remark-meta {
    margin-top: 8px;
    font-size: 12px;
    color: #6b7280;
    text-align: left;
}

/* Animation */
@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.profile-page {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 25px;
}

.profile-card,
.bank-card,
.document-card {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.profile-svg {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    background: var(--color-green-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-svg svg {
    width: 60px;
    fill: var(--color-green-500);
}

.profile-card h2,  .bank-card h2,.document-card h2{
    text-align: center;
    margin-top: 15px;
}

.bank-card h2{
    margin-bottom: 20px;
}

.role {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.locked {
    color: #dc2626;
    font-weight: 600;
}

@media (max-width: 900px) {
    .profile-page {
        grid-template-columns: 1fr;
    }
}
.doc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.doc-box {
    border: 1px solid #e5e7eb;
    padding: 15px;
    border-radius: 10px;
    background: #fafafa;
}

.doc-box label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.doc-box input[type="text"],
.doc-box input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.view-link {
    font-size: 13px;
    color: #2563eb;
    text-decoration: underline;
}
.profile-btn {
    margin-top: 20px;
    width: 100%;
}

/* Card */
.lead-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    max-width: 900px;
    margin: auto;
}

/* Avatar */
.lead-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.lead-avatar h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #111827;
}

.lead-avatar svg{
    fill: var(--color-green-600);
}
/* Form */
.lead-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Row layout */
.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form-row.single {
    grid-template-columns: 1fr;
}

.lead-form .input-group {
    display: flex;
    flex-direction: column;
}

.lead-form .input-group input,
.lead-form .input-group textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    transition: border 0.2s ease;
}

.lead-form .input-group textarea {
    resize: none;
    height: 100px;
}

/* Responsive */
@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }
}


/* -----------COURSE---------DELETE------ */
.course-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
}

.course-modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

.course-modal .confirm {
    background: #dc2626;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
}

.course-modal .cancel {
    margin-left: 10px;
}